<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'HFicon.svg') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'base-large.css')}}" media="screen and (min-width: 1100px)">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'base-small.css')}}" media="screen and (max-width: 700px)">
    <meta name="description" content="HF site">
    <title>{% block title %} HF {% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <img class="navbar-logo" src="{{ url_for('static', filename = 'HFicon.svg')}}" alt="HF">    
        <a href="/" class=" navlink link-available" id = "link-home">Home</a>
        <a href="/apps" class="navlink link-not-available" id="link-apps">Apps</a>
        <a href="/contact" class="navlink link-not-available" id="link-contact">Contact us</a>
        <a href="/about" class="navlink link-not-available" id="link-about">About us</a>
    </nav>
    <nav class="navbar-small">
        <img class="navbar-logo" src="{{ url_for('static', filename = 'HFicon.svg')}}" alt="HF">
    </nav>
    <br><br><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="msg">
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div id ="error-msg" class="error" role="alert">
                            {{ message }}
                            <button type="button" id = "close-error" class="close-error" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div id ="notification-msg" class="notification" role="alert">
                            {{ message }}
                            <button type="button" id = "close-notification" class="close-notification" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}
    Ciao
    {% endblock %}
    <script src="{{ url_for('static', filename = 'base-msg.js')}}"></script>
    <script src="{{ url_for('static', filename = 'base-navbar.js')}}"></script>
</body>
</html>